@charset "UTF-8";

@font-face {
    font-family: rooter;
    src: url(../fonts/Roter\ Hoody\ Regular\ -\ \(Demo\)\ hanscostudio.com.ttf) format("opentype");
}

* { margin: 0; padding: 0; }

body{
    background-color: rgba(255, 166, 0, 0.103);
}

#disponiveis{
    margin-top: 30px;
    padding: 0px;
}


#disponiveis > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    color: orange;
    margin-left: 10px;
    display: flex;
    margin-bottom: 20px;
}

.gallery{
    display: flex;
    flex-direction: column;
}

.photos{
    display: block;
    width: 300px;
    margin-left: auto; 
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0 20px -10px rgba(0, 0, 0, 0.418);
}

.photos > img{
    margin-left: 200px;
    width: 300px;
    height: 300px;
    margin-left: 0px;
    border-radius: 5px 5px 0px 0px;
}

.infos{
    background-color: #fa931d;
    width: 290px;
    height: 105px;
    margin-top: -5px;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nome{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}

.infos > p{
    margin-left: 15px;
}

#vermais{
    height: 50px;
    font-size: 1.5em;
    color: white;
    border: 3px solid #126782;
    background-color: #126782;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 5px;
    margin-left: 90px;
}
