@charset "UTF-8";

@font-face {
    font-family: rooter;
    src: url(../fonts/Roter\ Hoody\ Regular\ -\ \(Demo\)\ hanscostudio.com.ttf) format("opentype");
}

* { margin: 0; padding: 0; }

body, html{
    background-color: #76678836;
}

/*----------------------MENU DESKTOP---------------------------*/
#menu-desktop{
    display: none;
}

header{
    background-color: white;
}
    
header #logo{
    width: 4rem;
    height: 4rem;
}

#menu-mobile{
    display: block;
    align-items: center;
}

#topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

img#menu-icone{
    width: 4rem;
    height: 3.5rem;

}

#menu-mobile ul{ 
    list-style: none;
    display: block;
}

#menu-mobile li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #766788;
    border-bottom: 1px solid #4d2d74;
    height: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}

#menu-mobile li a:hover{
        background-image: linear-gradient(to right, #ef7689, #ff9b8f);
        color: black;
        background-clip: text;
        -webkit-background-clip: text;          
        /* Adicionado: */
        -webkit-text-fill-color: transparent;
}

#cadastrar a:hover{
    background-color: #766788;
}

li#cadastrar a{
    background-color: #4d2d74;
    color: white;
    font-weight: lighter;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*-------------------------------*/

section{
    height: 100vh;
}

svg{
    margin-top: 470px;
}
body{
    background-color: rgba(255, 255, 255, 0.103);
}

main{
    width: 90vw;
    margin: auto;
}

#disponiveis h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #71556b;
    margin-bottom: 40px;
    margin-top: 40px;
}


div#conteudo{
    background-color: white;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 40px;
}

label{
    color: #766788;
    font-size: 1.2rem;
}

input[type=text]{
    border-radius: 5px;
    height: 1.4rem;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 0.5px solid #766788;
}

.radio{
    height: 16px;
    width: 16px;
    margin-bottom: 20px;        
    border: 2px solid #766788;
}

input[type='radio']:checked{
    border-color: #f97070;
  }

input[type=checkbox]{
    height: 16px;
    width: 16px;
    margin-bottom: 20px;        
    border: 0.5px solid #766788;
}

/*#disponiveis{
    margin-top: 30px;
    padding: 0px;
}


#disponiveis > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #71556b;
    margin-bottom: 40px;
}

.photos{
    display: inline-block;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0 20px -10px rgba(0, 0, 0, 0.418);
}

.photos > img{
    margin-left: 200px;
    width: 300px;
    height: 300px;
    margin-left: 0px;
    border-radius: 5px 5px 0px 0px;
}

.infos{
    background-color: #ffffff;
    width: 290px;
    height: 105px;
    margin-top: -5px;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nome{
    font-weight: bolder;
    font-size: 1.5em;
    color: #766788;
}

.infos p{
    color: grey;
}

.infos a{
    text-decoration: none;    
    color: #766788;
}

#vermais{
    height: 50px;
    font-size: 1.5em;
    color: white;
    border: 3px solid #126782;
    background-color: #126782;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 5px;
    margin-left: 90px;
}*/

/*-----------------------------------estilos para desktop---------------------------------*/

@media screen and (min-width: 768px){
    #menu-desktop{
        display: flex;
    }

    #menu-mobile{
        display: none;
    }
    
    header #logo{
        width: 6rem;
        height: 6rem;
    }
    
    #menu-desktop{
        display: flex;
        height: 12vh;
        width: 70vw;
        align-items: center;
        margin: auto;                
        justify-content: space-between;
    }
    
    header ul { 
        list-style: none;
        display: flex;
        margin-left: 8%;
        gap: 30px;
    }
    
    #menu-desktop li a{
        align-content: center;
        text-decoration: none;
        color: #766788;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 1.8rem;
        
    }
    
    #menu-desktop a:hover{
            background-image: linear-gradient(to right, #ef7689, #ff9b8f);
            color: black;
            background-clip: text;
            -webkit-background-clip: text;          
            /* Adicionado: */
            -webkit-text-fill-color: transparent;
    }
    
    #cadastrar a:hover{
        background-color: #766788;
    }
    
    li#cadastrar a{
        background-color: #4d2d74;
        color: white;
        font-weight: lighter;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }
    
    section{
        height: 100vh;
    }
    
    svg{
        margin-top: 470px;
    }
    body{
        background-color: rgba(255, 255, 255, 0.103);
    }

    main{
        width: 70vw;
        margin: auto;
    }

    div#conteudo{
        background-color: white;
        width: 65vw;
        margin-top: 40px;
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 40px;
    }

    div#inserir-foto{
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 128, 0, 0.267);
        width: 150px;
        align-items: center;
    }

    #inserir-foto img{
        height: 6rem;
        width: 6rem;
    }

    label{
        color: #766788;
        font-size: 1.2rem;
    }

    input[type=text]{
        border-radius: 5px;
        height: 1.4rem;
        margin-left: 10px;
        margin-bottom: 20px;
        border: 0.5px solid #766788;
    }

    .radio{
        height: 16px;
        width: 16px;
        margin-bottom: 20px;        
        border: 2px solid #766788;
    }

    input[type='radio']:checked{
        border-color: #f97070;
      }

    input[type=checkbox]{
        height: 16px;
        width: 16px;
        margin-bottom: 20px;        
        border: 0.5px solid #766788;
    }
}

@media (max-width: 1315px){
    .itens a{
        font-size: 12px;
    }
}