/*Estilos para desktop*/

*{
    margin: 0;
    padding: 0;
}

body{
    box-shadow: 1px 17px 20px 0px rgba(0, 0, 0, 0.26);
    background-color: #76678836;
}

header{
    background-color: white;
}

#menu-desktop{
    display: none;
}

header{
    background-color: white;
}
    
header #logo{
    width: 4rem;
    height: 4rem;
}

#menu-mobile{
    display: block;
    align-items: center;
}

#topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

img#menu-icone{
    width: 4rem;
    height: 3.5rem;

}

#menu-mobile ul{ 
    list-style: none;
    display: block;
}

#menu-mobile li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #766788;
    border-bottom: 1px solid #4d2d74;
    height: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}

#menu-mobile li a:hover{
        background-image: linear-gradient(to right, #ef7689, #ff9b8f);
        color: black;
        background-clip: text;
        -webkit-background-clip: text;          
        /* Adicionado: */
        -webkit-text-fill-color: transparent;
}

#disponiveis h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #71556b;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

#banner{
    width: 90vw;
    height: 25vh;
    margin-left: 5%;
    border-radius: 20px;
    margin-top: 5%;
}

.photos{    
    display: grid;
    grid-template-columns: repeat(1, 90vw);
    justify-content: center;
}

.card-pet{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    background-color: white;        
    box-shadow: 5px 5px 4px #76678848;
    margin-top: 20px;
}

.card-pet h1{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     margin-top: 10px;
     font-size: 12px;
}

.card-pet img{    
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.336);
}

.card-pet:hover{
    scale: 1.1;
    background-color: #9e6a90;
    transition: 90ms;
}



@media screen and (min-width: 768px){


#disponiveis > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #ef7689;
    display: flex;
    justify-content: center;
}

#disponiveis span{
    color: black;
    margin-left: 0.5rem;
    font-weight: lighter;
}


#menu-desktop{
    display: flex;
}

#menu-mobile{
    display: none;
}

header #logo{
    width: 6rem;
    height: 6rem;
}

#menu-desktop{
    display: flex;
    height: 8vh;
    width: 70vw;
    align-items: center;
    margin: auto;                
    justify-content: space-between;
}

header ul { 
    list-style: none;
    display: flex;
    margin-left: 8%;
    gap: 30px;
}

#menu-desktop li a{
    align-content: center;
    text-decoration: none;
    color: #766788;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    
}

#menu-desktop a:hover{
        background-image: linear-gradient(to right, #ef7689, #ff9b8f);
        color: black;
        background-clip: text;
        -webkit-background-clip: text;          
        /* Adicionado: */
        -webkit-text-fill-color: transparent;
}


#cadastrar a:hover{
    background-color: #766788;
}

li#cadastrar a{
    background-color: #4d2d74;
    color: white;
    font-weight: lighter;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}


section{
    height: 65vh;
}

svg{
    margin-top: 470px;
}

#banner{
    width: 70vw;
    height: 60vh;
    margin-left: 15%;
    border-radius: 20px;
    margin-top: 60px;
}

.photos{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

#disponiveis h1{
    margin-top: 60px;
}

.card-pet{
    display: flex;
    height: 80px;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    background-color: white;        
    box-shadow: 5px 5px 4px #76678848;
    margin-top: 20px;
}

.card-pet h1{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     margin-top: 0px;
     font-size: 12px;
}

.card-pet img{    
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.336);
}

.card-pet:hover{
    scale: 1.1;
    background-color: #9e6a90;
    transition: 90ms;
}

}

@media (max-width: 1315px){
    .itens a{
        font-size: 12px;
    }
}
